@use "variables" as v;
@use "mixins" as m;

html {
  font-size: 62.5%;
}

body {
  background-color: v.$mainBg;
  font-size: 1.5rem;
  color: v.$whiteP;
}

.container {
  width: 95%;
  margin-inline: auto;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  @include m.tablet {
    min-height: 100vh;
    max-width: 90rem;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}
