// Colors
$mainBg:  hsl(233, 47%, 7%);
$cardBg: hsl(244, 38%, 16%);
$accent:   hsl(277, 64%, 61%);

$whiteMain: hsl(0, 0%, 100%);
$whiteP:hsla(0, 0%, 100%, 0.75);
$whiteH:hsla(0, 0%, 100%, 0.6);

// Media Queries
$mobile: 375px;
$tablet: 766px;
$desktop: 1440px;

// Typography
$primaryFont:'Inter', sans-serif;
$secondaryFont: 'Lexend Deca', sans-serif;
